
!**/*.playground/playground.xcworkspace/xcshareddata
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!**/*.xcodeproj/project.xcworkspace/xcshareddata
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
#
# Apple sample code gitignore configuration.
# Finder
# See LICENSE folder for this sample’s licensing information.
# Xcode - User files
**/*.playground/playground.xcworkspace/*
**/*.playground/playground.xcworkspace/xcshareddata/*
**/*.xcodeproj/project.xcworkspace/*
**/*.xcodeproj/project.xcworkspace/xcshareddata/*
.DS_Store
*.bundle/
xcuserdata/
